version: '3.9'

services:
  postgres:
    image: postgres:latest
    volumes:
      - db_data:/var/lib/postgres
    restart: always
    ports:
      - "5432:5432"
    expose:
      - "5432"
    environment:
      POSTGRES_DB=lifeCalendar
      POSTGRES_USER=postgres
      POSTGRES_PASSWORD=iamadmin
      POSTGRES_URL=jdbc:postgresql://postgres:5432/lifeCalenar

  calendar_backend:
    depends_on:
      - postgres
    build: .
    ports:
      - "3001:3001"
    restart: always
    environment:
      POSTGRES_DB=lifeCalendar
      POSTGRES_USER=postgres
      POSTGRES_PASSWORD=iamadmin
      POSTGRES_URL=jdbc:postgresql://postgres:5432/lifeCalenar

volumes:
  db_data: {}